:root {
  --main-button-bg: rgb(31, 133, 181);
  --main-border-color: #9a9;
  --active-tab-background: rgba(255, 255, 255, 0.8);
  --tab-background: rgba(255, 255, 255, 0.6);
}

body, html {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,146,191,1) 0%,rgba(125,185,232,0) 100%) center / cover no-repeat;
}

.toolbar {
  display: flex;
  align-items: center;
}

.nav-tabs {
  /* border-bottom-color: var(--tab-background); */
  border-bottom: 0;
}
.nav-tabs>li>a {
  background: var(--tab-background);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-color: var(--main-border-color);
  border-bottom-color: var(--active-tab-background);
  background: var(--active-tab-background);
  border-bottom: 0;
}

.tab-content {
  background: var(--active-tab-background);
  border-color: var(--main-border-color);
  margin-top: 1px;
}

@keyframes spin {
  from { transform: translate(-50%, -50%) rotate(  0deg) }
  to   { transform: translate(-50%, -50%) rotate(360deg) }
}

@keyframes scaleToolbar {
  from { transform: scale(0) }
  to   { transform: scale(1) }
}

/*** TOP MENU ***/
.top-menu {
  border-bottom: 1px solid rgba(100,100,100,.2);
  margin-bottom: 7px;
}

.top-menu .glyphicon {
  margin-right: 7px;
}

.top-menu-button {
  color: black;
}

.top-menu-button:focus {
  outline: none;
  text-decoration: none;
}

.top-menu-button:hover {
  text-decoration: none;
  background: rgba(100,100,100,.2);
  transition: background .1s linear;
  color: black;
}

/*** DROPDOWN MENU ***/
#dropdown-menu {
  background: var(--main-button-bg);
  color: white;
  border-radius: 0;
  border: 1px solid var(--main-button-bg);
  font-weight: bolder;
  letter-spacing: 4px;
}

#dropdown-menu:hover {
  text-shadow: 0 0 8px white;
  transition: text-shadow .2s linear;
}

#dropdown-menu + ul .glyphicon {
  margin-right: 14px;
}